@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf1c7;
  --foreground: #3c3836;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282828;
    --foreground: #ebdbb2;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
